body {
  margin: 0;
  height: 100%;
  width: 100%;
}
svg {
  width: 100vw;
  height: 100vh;
  display: block;
}
/* Background */
#sky {
  animation: sky 10s infinite;
}
@keyframes sky {
  0% {
    fill: rgb(111, 193, 212);
  }
  40% {
    fill: rgb(42, 80, 108);
  }
  60% {
    fill: rgb(42, 80, 108);
  }

  100% {
    fill: rgb(111, 193, 212);
  }
}
/* Sun colour change */
#sun {
  animation: sun 10s infinite;
}
@keyframes sun {
  0% {
    fill: rgb(255 218 0);
  }
  40% {
    fill: rgb(255, 123, 0);
  }
  60% {
    fill: rgb(255, 123, 0);
  }
  100% {
    fill: rgb(255 218 0);
  }
}
/* Sun gradient, it shows during eclipse */
#sun-gradient-a {
  animation: sun-gradient 10s infinite;
}
@keyframes sun-gradient {
  0% {
    opacity: 0%;
  }
  40% {
    opacity: 100%;
  }
  60% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
/* Eclipse */
#sun-eclipse {
  animation: eclipse 10s infinite;
}
@keyframes eclipse {
  0% {
    cx: 1880;
  }
  40% {
    cx: 1700;
  }
  60% {
    cx: 1700;
  }
  100% {
    cx: 1520;
  }
}
/* Building */
#building {
  animation: building 10s infinite;
}
@keyframes building {
  0% {
    fill: rgb(240, 234, 205);
  }
  40% {
    fill: rgb(104, 108, 130);
  }
  60% {
    fill: rgb(104, 108, 130);
  }
  100% {
    fill: rgb(240, 234, 205);
  }
}
/* Building windows */
.windows {
  animation: windows 10s infinite;
}
@keyframes windows {
  0% {
    fill: rgb(53 53 60);
  }
  40% {
    fill: rgb(44, 44, 51);
  }
  60% {
    fill: rgb(44, 44, 51);
  }
  100% {
    fill: rgb(53 53 60);
  }
}

/* Light*/
#stop1 {
  animation: stop1 10s infinite;
}
@keyframes stop1 {
  0% {
    stop-opacity: 0;
  }
  40% {
    stop-opacity: 0.1;
  }
  60% {
    stop-opacity: 0.1;
  }
  100% {
    stop-opacity: 0;
  }
}
/* Light flickering */
#stop2 {
  animation: stop2 10s infinite;
}
@keyframes stop2 {
  0% {
    stop-opacity: 0;
  }
  30% {
    stop-opacity: 0.2;
  }
  36% {
    stop-opacity: 0.3;
  }
  38% {
    stop-opacity: 0.2;
  }
  41% {
    stop-opacity: 0.3;
  }
  43% {
    stop-opacity: 0.2;
  }
  48% {
    stop-opacity: 0.3;
  }
  55% {
    stop-opacity: 0.2;
  }
  60% {
    stop-opacity: 0.2;
  }
  100% {
    stop-opacity: 0;
  }
}

#stop3 {
  animation: stop3 10s infinite;
}
@keyframes stop3 {
  0% {
    stop-opacity: 0;
  }
  40% {
    stop-opacity: 0.7;
  }

  60% {
    stop-opacity: 0.7;
  }
  100% {
    stop-opacity: 0;
  }
}
/* Woman Breathing */
#blouse-chest {
  animation: blouse-chest 10s infinite;
}
@keyframes blouse-chest {
  0% {
    cx: 370;
    cy: 820;
  }
  20% {
    cx: 375;
    cy: 819;
  }
  50% {
    cx: 370;
    cy: 820;
  }
  70% {
    cx: 375;
    cy: 819;
  }
  100% {
    cx: 370;
    cy: 820;
  }
}
#blouse-neck {
  animation: blouse-neck 10s infinite;
}
@keyframes blouse-neck {
  0% {
    x: 330;
    y: 720;
  }
  20% {
    x: 330;
    y: 718;
  }
  40% {
    x: 330;
    y: 720;
  }
  70% {
    x: 330;
    y: 718;
  }
  100% {
    x: 330;
    y: 720;
  }
}
